<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
   <ion-header-bar class="bar-stable">
      <!--<h1 class="title">Customer Search</h1>-->
    </ion-header-bar>

<!--Search bar
    <ion-header-bar class="bar bar-stable item-input-inset"> 
      <label class="item-input-wrapper search">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Enter License Plate Number..." ng-keyup="searchList($event)" type="text"> 
      </label>
    </ion-header-bar>
-->

<!--These are the items in the left menu-->
    <ion-content>
      <ion-list>
        <!--<ion-item menu-close href="#/app/signin">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>-->
        <!--<ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
