<ion-view view-title="New Customer">

  <ion-content padding="true" scroll="false">  

    <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label list-name">Name</span>
      <input placeholder="Name" ng-model="customer.name" type="text">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label list-name">License Plate</span>
      <input placeholder="Plate" ng-model="customer.plate" type="text">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label list-name">Make</span>
      <input placeholder="Make" ng-model="customer.make" type="text">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label list-name">Model</span>
      <input placeholder="Model" ng-model="customer.model" type="text">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label list-name">VIN</span>
      <input placeholder="Vin" ng-model="customer.vin" type="text">
    </label>

<div ng-click="newCustomer()" class=" button button-positive button-block ">Add Customer</div>

</div>

  </ion-content>
</ion-view>