<ion-view view-title="New Visit">

  <ion-content padding="true" scroll="false">  

    <div class="list list-inset">
    <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="date">
    </label>
    <div class="spacer" style="height: 20px;"></div>
    <label class="item item-input">
        <textarea placeholder="Comments" style="height: 100px;"></textarea>
    </label>
    </div>

<div ng-click="newVisit()" class=" button button-positive button-block ">Submit</div>

<!--<div ng-click="getAdapter()" class=" button button-positive button-block ">customers</div>
<p ng-repeat="customer in test">{{customer.name}}</p>-->

  </ion-content>
</ion-view>