<ion-view view-title="Customer Search" >
 
  <ion-content>

    <!--Search bar-->
    <ion-header-bar class="bar bar-stable item-input-inset"> 
      <label class="item-input-wrapper search">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Enter License Plate Number..." ng-model="data.plate" type="text"> 
      </label>
      <button ng-click="searchPlate(data.plate)" class="button button-small">
      Search
    </button>
    </ion-header-bar>
    <ion-list>
      <ion-item href="#/app/customer/{{found.id}}">
        <h2>Name: {{found.name}}</h2>
        <h2>License Plate: {{found.plate}}</h2>
      </ion-item>
        <!--<ion-item ng-repeat="customer in customers" href="#/app/customer/{{customer.id}}">
          <h2>{{customer.name}}</h2>
          <h3>{{customer.plate}}</h3>
        </ion-item>-->
      </ion-list>

  </ion-content>
</ion-view>
